- var listSize=5

doctype html
html
    block vars
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.min.css')
        link(rel='shortcut icon', href='/images/favicon.ico')
        meta(name='viewport', content='initial-scale=1.0')
        script(src='/app.min.js')
        script(src='http://maps.google.com/maps/api/js?sensor=false')
    body
        div#page.container
            h1= title
            div.row
                div(class='col-md-#{12-listSize}')
                    block content
                div(class='col-md-#{listSize}')
                    div#list
                        block list
            div.well
                span !{md(__i('[Fork me](%s) or [create feature request](%s) on GitHub. [About author](%s).', 'https://github.com/horejsek/lunchtimeandel', 'https://github.com/horejsek/lunchtimeandel/issues', 'http://www.horejsek.com'))}
                span #{__i('I would appreciate any tip (you know – servers and domains are not cheap…) Thank you!')}
                    span &nbsp;
                    form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top', style='display:inline')
                        input(type='hidden', name='cmd', value='_s-xclick')
                        input(type='hidden', name='encrypted', value='-----BEGIN PKCS7-----MIIHLwYJKoZIhvcNAQcEoIIHIDCCBxwCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYAxck6WKpusFZzbUF9l/rePzPHyqHGbKlFBV8KTyu/RHnCpjNdMYMLdl7Roj9KPUDIC/2YEaAxrXQNcmUUr8mqpZbJgFMlsEqYfTfcqz1w5zkbAL9o//U3afmkdVNi0Pxdd5SHeAYMlX9vXOB0X4cdqgCIwtYAefNTrwCJ2gQn5LzELMAkGBSsOAwIaBQAwgawGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQISx84YX25GBOAgYjHOA7s7X2JQP8ndB7CNTa+hYLAqX8JoNYabeOcBZE8bxcYcOJIf6By2BnTMpVPJc0iSHDmdQk36b0IiPU1FXihJFWhwJu97xtHQZkYNEPSt/QJsfbWhZAvem9BNe2R8zuLHPhCrnBbNTcOlHhLeV+aQMgcRyRa6++m8Ab32Gq/VeCqCwkNkSG1oIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTMwNDAzMTkxNTQyWjAjBgkqhkiG9w0BCQQxFgQU/KKT2TiNVDA/QDxWaR6gJDnkSFAwDQYJKoZIhvcNAQEBBQAEgYBpG6AiW30wuc3YK7Ya4S3fAylF180McOGggxTzts0q+ZB24OlZBRawR+R8xUqIUFfYpheakrGDRi0R9SbsGCCt1k9h13UZBrKOZe3eS+hFWc9iAZ+LPfEV1pZHJL4fF4pEdGCGBI25RbhcHO6NIzDc3HiQtf+3kXo2Re1Eg/hlEA==-----END PKCS7-----')
                        input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif', border='0', name='submit', alt='PayPal - The safer, easier way to pay online!')
        block end
        script(type='text/javascript').
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-37406706-1']);
            _gaq.push(['_setDomainName', 'lunchtimeandel.cz']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();