extends layout

block list
    div#map_canvas(style="width:400px;height:400px")
    script(type='text/javascript')
        (function () {
            var mapOptions = {
                center: new google.maps.LatLng(50.07061,14.403334),
                minZoom: 15,
                zoom: 16,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                disableDefaultUI: true,
                disableDoubleClickZoom: true
            };
            var googleMap = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
            restaurants.registerMap(googleMap);
        })();
    div.input-append#search
        input(type='text', placeholder='#{__i('Search')}')
        button(type='button', class='btn')
            i.icon-remove
    script(type='text/javascript')
        new lta.Search('search', restaurants)

block content
    h1= title
    each restaurant in restaurants
        div.restaurant(id='#{restaurant.name}')
            h2= restaurant.name
                &nbsp;
                small
                    a.restaurant-detail-link(href='#') #{__i('Info')}
            div.well.hide.restaurant-detail
                i.icon-globe
                &nbsp
                a(href='#'+restaurant.name) #{__i('Show in map')}
                br
                i.icon-external-link
                &nbsp;
                a(href=restaurant.url, target='_blank') #{__i('Restaurant pages')}
                br
                i.icon-external-link
                &nbsp;
                a(href=restaurant.lunchmenuUrl, target='_blank') #{__i('Lunch menu')}
                p
                    i.icon-refresh
                    &nbsp;
                    span #{__i('Last update')}:
                    &nbsp;
                    strong #{restaurant.getPrintalbeLastUpdate()}
            if restaurant.meals.length
                table.table.table-bordered.table-hover
                    each meal in restaurant.meals
                        tr(class="#{meal.price>100 ? 'warning' : ''} #{meal.price<50 ? 'info' : ''}")
                            td.meal= meal.name
                            td.price= meal.getPrintablePrice()
            else
                p.well
                    em #{__('Daily lunch menu is not available')}
        script(type='text/javascript')
            restaurants.add("#{restaurant.name}", {
                lat: #{restaurant.map.lat},
                lon: #{restaurant.map.lon}
            });
    div.well
        p !{md(__i('[Fork me](%s) or [create feature request](%s) on GitHub or just [contact me](%s).', 'https://github.com/horejsek/lunchtimeandel', 'https://github.com/horejsek/lunchtimeandel/issues', 'mailto:horejsekmichal@gmail.com'))}
        form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
            input(type='hidden', name='cmd', value='_s-xclick')
            input(type='hidden', name='encrypted', value='-----BEGIN PKCS7-----MIIHLwYJKoZIhvcNAQcEoIIHIDCCBxwCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYAxck6WKpusFZzbUF9l/rePzPHyqHGbKlFBV8KTyu/RHnCpjNdMYMLdl7Roj9KPUDIC/2YEaAxrXQNcmUUr8mqpZbJgFMlsEqYfTfcqz1w5zkbAL9o//U3afmkdVNi0Pxdd5SHeAYMlX9vXOB0X4cdqgCIwtYAefNTrwCJ2gQn5LzELMAkGBSsOAwIaBQAwgawGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQISx84YX25GBOAgYjHOA7s7X2JQP8ndB7CNTa+hYLAqX8JoNYabeOcBZE8bxcYcOJIf6By2BnTMpVPJc0iSHDmdQk36b0IiPU1FXihJFWhwJu97xtHQZkYNEPSt/QJsfbWhZAvem9BNe2R8zuLHPhCrnBbNTcOlHhLeV+aQMgcRyRa6++m8Ab32Gq/VeCqCwkNkSG1oIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTMwNDAzMTkxNTQyWjAjBgkqhkiG9w0BCQQxFgQU/KKT2TiNVDA/QDxWaR6gJDnkSFAwDQYJKoZIhvcNAQEBBQAEgYBpG6AiW30wuc3YK7Ya4S3fAylF180McOGggxTzts0q+ZB24OlZBRawR+R8xUqIUFfYpheakrGDRi0R9SbsGCCt1k9h13UZBrKOZe3eS+hFWc9iAZ+LPfEV1pZHJL4fF4pEdGCGBI25RbhcHO6NIzDc3HiQtf+3kXo2Re1Eg/hlEA==-----END PKCS7-----')
            input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif', border='0', name='submit', alt='PayPal - The safer, easier way to pay online!')
