extends layout

block content
    h1= title
    each restaurant in restaurants
        div.restaurant
            h2= restaurant.name
                &nbsp;
                small
                    a(href=restaurant.url, target='_blank') #{__i('Restaurant pages')}
            p #{__i('Last update')}: #{restaurant.getPrintalbeLastUpdate()}
            if restaurant.meals.length
                table.table.table-bordered.table-hover
                    each meal in restaurant.meals
                        tr(class="#{meal.price<100 ? 'success' : ''}")
                            td= meal.name
                            td.price= meal.getPrintablePrice()
            else
                p.well 
                    em #{__('Daily lunch menu is not available')}
    div.well
        p !{md(__i('[Fork me](%s) or [create feature request](%s) on GitHub or just [contact me](%s).', 'https://github.com/horejsek/lunchtimeandel', 'https://github.com/horejsek/lunchtimeandel/issues', 'mailto:horejsekmichal@gmail.com'))}
