extends layout

block list
    div#map_canvas.hidden-phone
    script(type='text/javascript')
        (function () {
            var mapOptions = {
                center: new google.maps.LatLng(50.07061,14.403334),
                minZoom: 15,
                zoom: 16,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                disableDefaultUI: true,
                disableDoubleClickZoom: true
            };
            var googleMap = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
            restaurants.registerMap(googleMap);
        })();
    div.input-append#search
        input(type='text', placeholder='#{__i('Search')}')
        button(type='button', class='btn')
            i.icon-remove
    script(type='text/javascript')
        new lta.Search('search', restaurants)

block content
    each restaurant in restaurants
        div.restaurant(id='#{restaurant.name}')
            h2= restaurant.name
                &nbsp;
                small
                    a.restaurant-detail-link(href='#') #{__i('Info')}
            div.well.hide.restaurant-detail
                div.row-fluid
                    div.span6
                        span.hidden-phone
                            i.icon-globe
                            &nbsp
                            a(href='#'+restaurant.name) #{__i('Show in map')}
                            br
                        span= restaurant.address.street
                        br
                        span #{restaurant.address.zip}, #{restaurant.address.city}
                        br
                        span
                            i.icon-phone
                            &nbsp;
                            span= restaurant.phoneNumber
                    div.span6
                        i.icon-external-link
                        &nbsp;
                        a(href=restaurant.urls.homepage, target='_blank') #{__i('Restaurant pages')}
                        br
                        i.icon-external-link
                        &nbsp;
                        a(href=restaurant.urls.lunchmenu, target='_blank') #{__i('Lunch menu')}
                        p
                            i.icon-refresh
                            &nbsp;
                            span #{__i('Last update')}:
                            &nbsp;
                            strong #{restaurant.getPrintalbeLastUpdate()}
            if restaurant.meals.length
                table.table.table-bordered.table-hover
                    each meal in restaurant.meals
                        tr(class="#{meal.price>100 ? 'warning' : ''} #{meal.price<50 ? 'info' : ''}")
                            td.meal= meal.name
                            td.price= meal.getPrintablePrice()
            else
                p.well
                    em #{__('Daily lunch menu is not available')}
        script(type='text/javascript')
            restaurants.add("#{restaurant.name}", {
                lat: #{restaurant.address.map.lat},
                lng: #{restaurant.address.map.lng}
            });
    i#choicehelp-link.icon-meh
    div#choicehelp-box.alert.hide
        h2 #{__i('What about…')}
        i#choicehelp-close.icon-remove
        div#choicehelp-text
    script(type='text/javascript')
        restaurants.registerHelp()
