extends layout

block list
    div.input-append#search
        input(type='text', placeholder='#{__i('Search')}')
        button(type='button', class='btn')
            i.icon-search
    script(type='text/javascript')
        new lta.Search('search')
    ul.nav.nav-list
        li.nav-header #{__i('Restaurants')}
        each restaurant in restaurants
            li
                a(href='##{restaurant.name}')= restaurant.name

block content
    h1= title
    each restaurant in restaurants
        div.restaurant(id='#{restaurant.name}')
            h2= restaurant.name
                &nbsp;
                small
                    a(href='#', onclick='return lta.restaurantDetail(this)') #{__i('Info')}
            div.well.hide.restaurant-detail
                i.icon-external-link
                &nbsp;
                a(href=restaurant.url, target='_blank') #{__i('Restaurant pages')}
                br
                i.icon-external-link
                &nbsp;
                a(href=restaurant.lunchmenuUrl, target='_blank') #{__i('Lunch menu')}
                p
                    i.icon-refresh
                    &nbsp;
                    span #{__i('Last update')}:
                    &nbsp;
                    strong #{restaurant.getPrintalbeLastUpdate()}
            if restaurant.meals.length
                table.table.table-bordered.table-hover
                    each meal in restaurant.meals
                        tr(class="#{meal.price>100 ? 'warning' : ''} #{meal.price<50 ? 'info' : ''}")
                            td.meal= meal.name
                            td.price= meal.getPrintablePrice()
            else
                p.well
                    em #{__('Daily lunch menu is not available')}
    div.well
        p !{md(__i('[Fork me](%s) or [create feature request](%s) on GitHub or just [contact me](%s).', 'https://github.com/horejsek/lunchtimeandel', 'https://github.com/horejsek/lunchtimeandel/issues', 'mailto:horejsekmichal@gmail.com'))}
