extends layout

block content
    h1= title
    each restaurant in restaurants
        h2= restaurant.name
            &nbsp;
            small
                a(href=restaurant.url, target='_blank') Stránky restaurace
        table.table.table-bordered
            each meal in restaurant.meals
                tr
                    td= meal.name
                    th.price= meal.price