extends layout

block content
    h1= title
    each restaurant in restaurants
        h2= restaurant.name
            &nbsp;
            small
                a(href=restaurant.url, target='_blank') Stránky restaurace
        p Poslední update: #{restaurant.lastUpdate.getDate()}. #{restaurant.lastUpdate.getMonth()}. v 
            strong #{restaurant.lastUpdate.getHours()}:#{restaurant.lastUpdate.getMinutes()}
        table.table.table-bordered
            each meal in restaurant.meals
                tr
                    td= meal.name
                    th.price= meal.price